
<!DOCTYPE html>



<html 	xmlns:th="http://thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<title>Locadora Imperial</title>
</head>
<body>
	<h1> Cadastro de Clientes </h1>
	<form method = "post">
		

		CPF: <input type="text" value="" name="cpf"/>
		Nome: <input type="text" value="" name="nome"/>
		Endereco: <input type="text" value="" name="endereco"/>
		Data: <input type="date" value="" name="nascimento"/>
		Telefone: <input type="text" value="" name="telefone"/>
		Sexo: <input type="text" value="" name="sexo"/>
		Email: <input type="text" value="" name="email"/>
		Senha: <input type="text" value="" name="senha"/>
		Habilitado: <input type="text" value="" name="habilitado"/>
		Titular: <input type="text" value="" name="titular"/>
	
	<button type = "submit">Salvar</button>
	
	</form>


</body>




</html>